#topLeftBar{
	-fx-background-color: blue;
}

#topBar{
	-fx-background-color: red;
}


#controlGrid{
	-fx-border-style: solid;
	-fx-border-color: black;
	-fx-background-color: aliceblue;
}


#empty{
	-fx-background-image: url(emptyTile.jpg); 
	-fx-border-style: solid;
	-fx-border-color: black;
}

#residential{
	-fx-background-image:url(residentialTile.jpg);
	-fx-border-style: solid;
	-fx-border-color: black;
}

#commercial{
	-fx-background-image:url(commercialTile.jpg);
	-fx-border-style: solid;
	-fx-border-color: black;
}

#industrial{
	-fx-background-image:url(industrialTile.jpg);
	-fx-border-style: solid;
	-fx-border-color: black;
}